
@charset "UTF-8";
/* CSS Document */

*{ margin:0; padding:0;}

table{ border-collapse:collapse;border-spacing:0;}
th{ font-weight:normal;}
fieldset,a img{ border:0;}
iframe{ display:block;}
ol,ul,li{ list-style:none;}
del{ text-decoration:line-through; }
h1,h2,h3,h4,h5,h6 { font-size:100%; font-weight:bolder; }
q:before,q:after {content:'';}
sub,sup {font-size: 14px; line-height: 0; position: relative; vertical-align: baseline;}
sup {top: -0.5em;}
sub {bottom: -0.25em;}
a,textarea,input,button,input:focus,input:hover{ outline:none;}
ins,a{ text-decoration:none;}
textarea{ resize:none;  overflow-y:auto;}
em,i{ font-style:normal;}
/*html5*/
article,aside,details,figcaption,figure,footer,header,menu,nav,section,main{ display:block;}
audio,canvas,video{ display: inline-block;*display: inline;*zoom: 1;}
abbr,acronym{ border:0;font-variant:normal;}
address,caption,cite,code,dfn,em,th,var{ font-style:normal; font-weight:500;}


html{ background:#eeeeee; color:#333;}
body{
    font-family:Verdana,Arial,"Microsoft Yahei" !important;  font-size: 16px;  background-color: transparent; overflow-x: hidden;
    max-width: 720px; margin: 0 auto;
}
input,textarea,select,button{
    font-family:Verdana,Arial,"Microsoft Yahei" !important;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
a{color: #333333; }
a:hover {color: #e81700;}
.min-width{ width: 100%; margin: 0 auto; }
.centre-width{ width: 94%; margin: 0 3%;}


.clearfix:after {
    visibility: hidden;  display: block;  font-size: 0;  content: '';  clear: both;  height: 0;
}


* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */
.cl {clear: left;}
.cr {clear: right; }
.cb {clear: both;}
.clears{ clear:both; line-height:0; overflow:hidden; font-size:0; height:0;}
.fl{ float:left;}
.fr{ float:right;}
.hide {display:none;}
.show{ display:block;}

.abs {position: absolute;}
.rel {position: relative;}
.fix {position: fixed;}

/*     margin-top     */
.mt1 { margin-top: 1px;}
.mt2 { margin-top: 2px;}
.mt5 { margin-top: 5px;}
.mt10{ margin-top: 10px;}
.mt15{ margin-top: 15px;}
.mt20{ margin-top: 20px;}
.mt25{ margin-top: 25px;}
.mt30{ margin-top: 30px;}
.mt35{ margin-top: 35px;}
.mt40{ margin-top: 40px;}
.mt45{ margin-top: 45px;}
.mt50{ margin-top: 50px;}
.mt55{ margin-top: 55px;}
.mt60{ margin-top: 60px;}
.mt65{ margin-top: 65px;}
.mt70{ margin-top: 70px;}
.mt75{ margin-top: 75px;}
.mt80{ margin-top: 80px;}
.mt85{ margin-top: 85px;}
.mt90{ margin-top: 90px;}
.mt95{ margin-top: 95px;}
.mt100{ margin-top: 100px;}
.mt-90 { margin-top: -90px;}

/*     margin-right     */
.mr1 { margin-right: 1px;}
.mr2 { margin-right: 2px;}
.mr5 { margin-right: 5px;}
.mr10{ margin-right: 10px;}
.mr15{ margin-right: 15px;}
.mr20{ margin-right: 20px;}
.mr25{ margin-right: 25px;}
.mr30{ margin-right: 30px;}
.mr35{ margin-right: 35px;}
.mr40{ margin-right: 40px;}
.mr45{ margin-right: 45px;}
.mr50{ margin-right: 50px;}
.mr55{ margin-right: 55px;}
.mr60{ margin-right: 60px;}
.mr65{ margin-right: 65px;}
.mr70{ margin-right: 70px;}
.mr75{ margin-right: 75px;}
.mr80{ margin-right: 80px;}
.mr85{ margin-right: 85px;}
.mr90{ margin-right: 90px;}
.mr95{ margin-right: 95px;}
.mr100{ margin-right: 100px;}


/*     margin-bottom     */
.mb1 { margin-bottom: 1px;}
.mb2 { margin-bottom: 2px;}
.mb5 { margin-bottom: 5px;}
.mb15{ margin-bottom: 15px;}
.mb10{ margin-bottom: 10px;}
.mb15{ margin-bottom: 15px;}
.mb20{ margin-bottom: 20px;}
.mb25{ margin-bottom: 25px;}
.mb30{ margin-bottom: 30px;}
.mb35{ margin-bottom: 35px;}
.mb40{ margin-bottom: 40px;}
.mb45{ margin-bottom: 45px;}
.mb50{ margin-bottom: 50px;}
.mb55{ margin-bottom: 55px;}
.mb60{ margin-bottom: 60px;}
.mb65{ margin-bottom: 65px;}
.mb70{ margin-bottom: 70px;}
.mb75{ margin-bottom: 75px;}
.mb80{ margin-bottom: 80px;}
.mb85{ margin-bottom: 85px;}
.mb90{ margin-bottom: 90px;}
.mb95{ margin-bottom: 95px;}
.mb100{ margin-bottom: 100px;}


/*      margin-left       */
.ml1 { margin-left: 1px;}
.ml2 { margin-left: 2px;}
.ml5 { margin-left: 5px;}
.ml10{ margin-left: 10px;}
.ml15{ margin-left: 15px;}
.ml20{ margin-left: 20px;}
.ml25{ margin-left: 25px;}
.ml30{ margin-left: 30px;}
.ml35{ margin-left: 35px;}
.ml40{ margin-left: 40px;}
.ml45{ margin-left: 45px;}
.ml50{ margin-left: 50px;}
.ml55{ margin-left: 55px;}
.ml60{ margin-left: 60px;}
.ml65{ margin-left: 65px;}
.ml70{ margin-left: 70px;}
.ml75{ margin-left: 75px;}
.ml80{ margin-left: 80px;}
.ml85{ margin-left: 85px;}
.ml90{ margin-left: 90px;}
.ml95{ margin-left: 95px;}
.ml100{ margin-left: 100px;}


.m_auto{ margin-left: auto;margin-right: auto;}

.pd1{ padding:1px;}
.pd2{ padding:2px;}
.pd3{ padding:3px;}
.pd4{ padding:4px;}
.pd5{ padding:5px;}
.pd8{ padding:8px;}
.pd10{ padding:10px;}
.pd16{ padding:16px;}
.pd20{ padding:20px;}



.pt15{ padding-top: 15px;}
.pt30{ padding-top: 30px;}

.pb55{ padding-bottom: 55px;}


.f10 {font-size: 10px;}
.f12 {font-size: 12px;}
.f14 {font-size: 14px;}
.f16 {font-size: 16px;}
.f18 {font-size: 18px;}
.f20 {font-size: 20px;}
.f24 {font-size: 24px;}
.f26 {font-size: 26px;}
.f28 {font-size: 28px;}
.f30 {font-size: 30px;}
.f32 {font-size: 32px;}
.f34 {font-size: 34px;}
.f36 {font-size: 36px;}
.f38 {font-size: 38px;}

.fwb{ font-weight:bolder;}
.fwn{ font-weight:normal;}
.nowrap {white-space: nowrap;overflow: hidden}
.t_2em{text-indent: 2em}
.t_index24{ text-indent:24px;}
.t_center{ text-align:center;}
.t_right{ text-align:right;}
.t_left{ text-align:left;}
.t_underline{ text-decoration:underline;}

.c_fff{ color:#fff;}
.c_fff a{ color:#fff;}
.c_fff a:hover{ text-decoration:underline;}
.c_000{ color:#000;}
.c_333{ color:#333;}
.c_666{ color:#666;}
.c_999{ color:#999;}
.c_ccc{ color:#ccc;}
.c_orange{ color:#f60;}
.c_red{ color:#f00;}
.c_blue{ color:#458eb7;}
.c_5c8889{ color: #5c8889;}

.lh18{ line-height:18px;}
.lh20{ line-height:20px;}
.lh22{ line-height:22px;}
.lh24{ line-height:24px;}
.lh26{ line-height:26px;}
.lh28{ line-height:28px;}
.lh30{ line-height:30px;}
.lh32{ line-height:32px;}
.lh34{ line-height:34px;}
.lh36{ line-height:36px;}
.lh38{ line-height:38px;}
.lh40{ line-height:40px;}
.lh42{ line-height:42px;}
.lh44{ line-height:44px;}
.lh46{ line-height:46px;}
.lh48{ line-height:48px;}
.lh50{ line-height:50px;}

.pd5_bg td,.pd5_bg th{ padding:5px;}
.pd10_bg td,.pd10_bg th{ padding:10px;}

.btn{ cursor:pointer; border:0; overflow:visible;}
